<script lang="ts">
  import Vue from 'vue'

  export default Vue.extend({
    name: 'w-button',
    data () {
      return {
        toto: 0
      }
    },
    mounted () {
      this.toto++
    }
  })

</script>

<template>
  <div class="w-btn">
    <slot />
  </div>
</template>

<style lang="scss">
  $color: blue;
  .w-btn {
    color: $color;
    font-size: 24px;
  }
</style>
