<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'w-hello-world'
})
</script>
<template>
  <h1 class="w-hello-world">Hello {{ msg }}</h1>
</template>

<style lang="scss">
  .w-hello-world {
    color: blue;
  }
</style>
